extends layoutmain

block content
  div.content-wrapper 
    section.content-header
      h1 Lista
        small Lista de estudiantes
      ol.breadcrumb
        li
          a(href="#") Level
            i.fa.fa-dashboard
        li.active Here
    div.panel.panel-default(style="padding:initial")
      div.panel-heading.bg-primary(style="font-size:30px")  Formulario de Registro de Persona
      div.panel-body
        form
          div.form-group
            label.col-sm-2.control-label(for="name") Nombre
            div.col-sm-4.input-group.col-xs-10(style="margin-left:10px")
              input#name.form-control(type="text",placeholder="Nombre completo")
          div.form-group
            label.col-sm-2.control-label(for="apellidos") Apellidos
            div.col-sm-4.input-group.col-xs-10(style="margin-left:10px")
              input#apellidos.form-control(type="text",placeholder="Apellidos completos")
          div.form-group
            label.col-sm-2.control-label(for="dni") DNI
            div.col-sm-4.input-group.col-xs-10(style="margin-left:10px")
              input#dni.form-control(type="text",placeholder="Ingrese su DNI")
          div.form-group
            label.col-sm-2.control-label(for="fecha-de-nacimiento") Fecha de nacimiento
            div.col-sm-4.input-group.col-xs-10(style="margin-left:10px")
              input#fecha-de-nacimiento.form-control(type="date")
          div.form-group
            label.col-sm-2.control-label(for="dni") Genero
            label.radio-inline
              input#masculino(type="radio", name="sexo", value="masculino") 
              label(for="masculino") Masculino   
            label.radio-inline
              input#femenino(type="radio", name="sexo", value="Femenino")      
              label(for="femenino") Femenino 
          div.form-group
            label.col-sm-2.control-label(for="fecha-de-nacimiento") Profesion
            div.col-sm-4.input-group.col-xs-10(style="margin-left:10px")
              select#profesion.form-control(name="select")
                option(value="Seleccione") Seleccione
                option(value="Ing. Sistemas") Ing. Sistemas
                option(value="Ing. Civil") Ing. Civil
                option(value="Ing. Ambiental") Ing. Ambiental 
                option(value="Ing. Enfermeria") Ing. Enfermeria
                option(value="Ing. Educacion") Ing. Educacion
          div.form-group
            label.col-sm-2.control-label(for="dni") Grado Estudio
            label.radio-inline
              input#bachiller(type="radio", name="nivel", value="Bachiller") 
              label(for="bachiller") Bachiller   
            label.radio-inline
              input#magister(type="radio", name="nivel", value="Magister")      
              label(for="magister") Magister
            label.radio-inline
              input#doctorado(type="radio", name="nivel", value="Doctorado")      
              label(for="doctorado") Doctorado          
          div.form-group
            label.col-sm-2.control-label(for="e-mail") E-mail
            div.col-sm-4.input-group.col-xs-10(style="margin-left:10px")
              span.input-group-addon
                i.fa.fa-envelope-o(aria-hidden="true")
              input#e-mail.form-control(type="email",placeholder="E-mail")
          div.form-group
            label.col-sm-2.control-label(for="phone") Telefono
            div.col-sm-4.input-group.col-xs-10(style="margin-left:10px")
              span.input-group-addon
                i.fa.fa-phone(aria-hidden="true")
              input#phone.form-control(type="tel",placeholder="Ingrese su telefono")
          div.form-group
            label.col-sm-2.control-label(for="usuario") Usuario
            div.col-sm-4.input-group.col-xs-10(style="margin-left:10px")
              span.input-group-addon
                i.fa.fa-user(aria-hidden="true")
              input#usuario.form-control(type="text",placeholder="Usuario")                                     
          div.form-group
            label.col-sm-2.control-label(for="clave") Clave
            div.col-sm-4.input-group.col-xs-10(style="margin-left:10px")
              span.input-group-addon
                i.fa.fa-cog(aria-hidden="true")
              input#clave.form-control(type="password",placeholder="Password")
          div.form-group
            label.col-sm-2.control-label(for="v-clave") Volver a escribir la clave
            div.col-sm-4.input-group.col-xs-10(style="margin-left:10px")
              span.input-group-addon
                i.fa.fa-cog(aria-hidden="true")
              input#v-clave.form-control(type="password",placeholder="Password")           
          div.form-group
            div.col-sm-offset-2.col-sm-10
              button#guardar.btn.btn-primary(style="margin-right:5px" type="button" ) Guardar
              a.btn.btn-danger(href="mainPersona" style="margin-right:5px") Cancelar  
              button#limpiar.btn.btn-success(type="button" ) Limpiar     
          
              
