extends layoutmain

block content
  div.content-wrapper 
    section.content-header
      h1 Lista
        small Lista de estudiantes
      ol.breadcrumb
        li
          a(href="#") Level
            i.fa.fa-dashboard
        li.active Here
    div.panel.panel-default(style="padding:initial")
      div.panel-heading.bg-primary(style="font-size:30px")  Formulario de Registro de Persona
      div.panel-body
        form.form-horizontal  
          div.form-group
            label.col-sm-2.control-label(for="usuario") Usuario
            div.col-sm-8.input-group.col-xs-10(style="margin-left:10px")
              span.input-group-addon
                i.fa.fa-user(aria-hidden="true")
              input#usuario.form-control(type="text",placeholder="Usuario")
          div.form-group
            label.col-sm-2.control-label(for="password") Password
            div.col-sm-8.input-group.col-xs-10(style="margin-left:10px")
              span.input-group-addon
                i.fa.fa-cog(aria-hidden="true")
              input#password.form-control(type="text",placeholder="Password")
          div.form-group
            div.col-sm-offset-2.col-sm-10
              button#btnIngreso.btn.btn-primary(type="button" onclick="validarLogin()" value="Ingresar") Ingresar
