body.hold-transition.skin-blue.sidebar-mini
  header.main-header
    a.logo
      span.logo-mini U
        b A
      span.logo-lg UPeU
        b Admin
    nav.navbar.navbar-static-top(role="navigation")
      a.sidebar-toggle(href="#",data-toggle="offcanvas" role="button")
        span.sr-only Toggle navigation      
      div.navbar-custom-menu
        ul.nav.navbar-nav
          li.dropdown.messages-menu
            a.dropdown-toggle(href="#" data-toggle="dropdown")
              i.fa.fa-envelope-o
                span.label.label-success
            ul.dropdown-menu
              li.header You have 4 messages
              ul.menu
                li
                  a(href="#")
                    div.pull-left
                      img.img-circle(src="images/user2-160x160.png" alt="User Image")        
                    h4 Support Team
                      small 5 mins
                        i.fa-fa-clock-o
                    p UPeU
              li.footer
                a(href="#") See all messages
          li.dropdown.notifications-menu
            a.dropdown-toggle(href="#" data-toggle="dropdown")
              i.fa.fa-bell-o
              span.label.label-warning        
            ul.dropdown-menu
              li.header Tu tienes 10 notificaciones
              ul.menu
                li
                  a(href="#")
                    i.fa.fa-users.text-aqua 5 nuevas notificaciones    
              li.footer
                a(href="#") View all
          li.dropdown.tasks-menu
            a.dropdown-toggle(href="#" data-toggle="dropdown")
              i.fa.fa-flag-o
              span.label.label-danger 9
            ul.dropdown-menu
              li.header 
              ul.menu
                li
                  a(href="#")
                    h3 Design
                      small.pull-right 20%
                    div.progress.xs
                      div.progress-bar.progress-bar-aqua(style="width: 20%" ,role="progressbar", aria-valuenow="20" ,aria-valuemin="0" ,aria-valuemax="100")
                        span.sr-only 20% Completado  
              li.footer
                a(href="#") Viwe all tasks-menu                    
          li.dropdown.user.user-menu
            a.dropdown-toggle(href="#",data-toggle="dropdown")      
              img.user-image(src="images/user2-160x160.png" alt="User Image")
              span.hidden-xs UPeU
            ul.dropdown-menu
              li.user-header
                img.user-image(src="images/user2-160x160.png" alt="User Image")    
                p UPeU - Universidad peruana union
                  small Adventista
              li.user-body
                div.row
                  div.col-xs-4.text-center    
                    a(href="#") Followers
                  div.col-xs-4.text-center    
                    a(href="#") Followers
                  div.col-xs-4.text-center    
                    a(href="#") Followers      
              li.user-footer
                div.pull-left
                  a.btn.btn-default.btn-flat(href="#") Profile
                div.pull.right
                  a.btn.btn-default.btn-flat(href="#") sign out        
          li
            a(href="#", data-toggle="control-sidebar")
              i.fa.fa-gears
  aside.main-sidebar
    section.sidebar
      div.user-panel
        div.pull-left.image
          img.img-circle(src="images/user2-160x160.png" alt="User Image")               
        div.pull-left.info
          p UPeU
          a(href="#") Online
            i.fa.fa-circle.text-success  
      form.sidebar-form(action="#" method="get")
        div.input-group
          input.form-control(type="text" name="text" placeholder="Search")
          span.input-group-btn
            button#search-btn.btn.btn-flat(type="submit" name="search") 
              i.fa.fa-search
      ul.sidebar-menu
        li.header header
        li.active
          a(href="#")
            i.fa.fa-link
            span Admin
        li
          a(href="formpersona")
            i.fa.fa-link
            span Registrar persona
        li.treeview
          a(href="#")
            i.fa.fa-link
            span Otros
            span.pull-right-container
              i.fa.fa-angle-left.pull-right            
          ul.treeview-menu
            li
              a(href="#") Opcion 1
            li
              a(href="#") Opcion 1
              
                 
