doctype html
html
  head
    title = title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="/stylesheets/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" href="/stylesheets/iconos/css/font-awesome.css")
    link(rel="stylesheet" href="/stylesheets/iconos/css/ionicons.css")
    link(link rel="stylesheet" href="/libs/dist/css/skins/skin-blue.min.css")        

  body
    block content
