doctype html
html
  head
    title = title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" ,href="/stylesheets/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" ,href="/stylesheets/iconos/css/font-awesome.css")
    link(rel="stylesheet", href="/stylesheets/iconos/css/ionicons.css")
    link(rel="stylesheet", href="/stylesheets/dist/css/skins/skin-blue.min.css")        
    link(rel="stylesheet" ,href="/stylesheets/dist/css/AdminLTE.min.css")
    script(type="text/javascript" src="/javascripts/db.js")
    script(type="text/javascript" src="/javascripts/operacionDB.js")
    script(src="/stylesheets/plugins/jQuery/jquery-2.2.3.min.js")
    script(src="/stylesheets/bootstrap/js/bootstrap.min.js")
    script(src="/stylesheets/dist/js/app.min.js")
  body
    div.wrapper
      include header
      block content
      include footer
